.example-container {
  width: auto;
  height: 500px;
  margin: 5px;
  border: 1px solid #555;
  border-radius: 10px;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #8eeebad7;
}

.mat-drawer {
  width: 200px;
  border-radius: 10px;
  text-align: center;
  background: #d6cdce;
}
