.main-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgb(198, 235, 235);
  padding: 2px;
}

.main-content {
  text-align: center;
  width: 90%;
  padding: 5px;
}

.sidebar {
  text-align: center;
  width: 20%;
}

.toolbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

