<mat-card class="main-card">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue augue vitae orci imperdiet pharetra. Sed sed gravida ipsum, eu imperdiet metus. Morbi accumsan at mi a placerat. Sed sem nunc, facilisis ac pharetra quis, tempor eu justo. Nam egestas nisi felis, sit amet condimentum tellus maximus sed. Vivamus suscipit molestie pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Sed eros mi, mattis vel placerat id, gravida a felis. Proin dapibus lacus nec commodo ultricies. Cras at mauris lacinia, faucibus ligula sed, egestas sem. Aenean consequat nunc ut tincidunt tempor. Maecenas convallis lorem ac arcu pretium sodales. Donec commodo leo tincidunt libero eleifend euismod.

  In porta dui sem, at congue nulla luctus nec. Duis interdum tempus ultrices. Nunc porttitor nibh at tincidunt ullamcorper. Suspendisse fermentum erat nisl, congue cursus felis pellentesque sit amet. Morbi nec fringilla enim. Nullam facilisis ex et interdum facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc sed venenatis ligula, eget fermentum nisi. Vestibulum quis sagittis diam, in ultricies nulla. Nam a leo orci. Vestibulum sollicitudin elit ac nisi consequat molestie. Donec eget nisi varius ex ornare varius ut a tellus.

  Nam pulvinar tellus nec mi tempus, vitae vestibulum tortor posuere.

</mat-card>

