<mat-card class="sidebar">
  <mat-list role="list">
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Game</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Pools</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Game</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Pools</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Game</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Pools</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Game</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>

